<h1>{{title}}</h1>


      <h2 >Checkbox </h2>
  
      <section>
        <input [(ngModel)]="checkValue"  type="checkbox"/> 
      </section>

      <h2>Result</h2>
      <section>
        <label >The checkbox value is {{checkValue}}</label>
        <!-- <input [(ngModel)]="checkValue"  type="checkbox"/>  -->
      </section>

       <div>
        <ul class="list-group">
              <li class="list-group-item"  *ngFor="let item of RiskRoles">
                <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.Name}}" (change)="onItemChange(item)"/> 
                {{item.Name}}
                
              </li>
        </ul>
      </div>

      <div>{{radioSelectedString}}</div>

       

